@charset "UTF-8";

*{
    margin: 0px;
}

body{
    background-color: rgb(207, 190, 111);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin: 20px;
    color: white;
}

#quadro{
    background-color: white;
    width: 450px;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);

}

#display_horas{
    padding: 20px;
    text-align: center;
}

article{
    padding: 10px;
}

p{  
    display: inline-block;
    
}

div{
    padding: 10px;
}

#ver{
    display: block;
}